<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Worker detail</h1>

    <p><strong>ID:</strong> {{ worker.id }}</p>
    <p><strong>Store ID:</strong> {{ worker.store }}</p>
    <p><strong>First name:</strong> {{ worker.first_name }}</p>
    <p><strong>Last name:</strong> {{ worker.last_name }}</p>
    <p><strong>Email:</strong> {{ worker.email }}</p>
    <p><strong>Birthdate:</strong> {{ worker.birth_date }}</p>
    <p><strong>Role ID:</strong> {{ worker.role }}</p>
    <p><strong>Phone number:</strong> {{ worker.phone_number }}</p>

    <form method="POST" name="delete" action="">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>

</body>
</html>